<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/64edd0846d.js" crossorigin="anonymous"></script>
    <script src="{% static 'TeacherPortal/js/teacherProfile.js' %}"></script>

    <link rel="stylesheet" href="{% static 'TeacherPortal/css/admin.css'%}" >

    <link rel="stylesheet" href="{% static 'studentPortal/student_css/student.css' %}">
    <title>student account</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <section id="Admin-header-container">
        <div id="admin-header">
           <h1>Welcome, {{ UN.userName }}</h1>
       </div>
        <div id="admin-icon" onmouseover="show()" onmouseleave="hide()">
            <i class="fa-solid fa-angle-down" style="font-size:20px"></i>
            <i class="fa-solid fa-user"></i>
        </div>
       <div  id="admin-credential" onmouseover="show()" onmouseleave="hide()">
            <div id="admin-profile" class="admin-details">
                <i class="fa-solid fa-user"></i>
                <a href="http://localhost:8000/Student-Portal/student-profile/">profile</a>
            </div>
            <hr>
            <div id="admin-details" class="admin-details">
                <i class="fa-solid fa-id-card"></i>
                <a href="http://localhost:8000/Student-Portal/student-information/">details</a>
            </div>
            <hr>
            <div id="Admin-logout" class="admin-details">
                <i class="fa-solid fa-right-from-bracket user" ></i>
                <a href="http://localhost:8000/Student-Portal/logout">logout</a>
            </div>
            
        </div>
    </section>
    <nav id="navigation-links">
       <div id="left-side-bar">
            <ul id="links">
                <div class="list-item"><li><a href="http://localhost:8000/Student-Portal/student-account"><i class="fa-solid fa-house"></i>  Home</a></div>  
            </ul>   
        </div>
    </nav>
    
  
  
</body>
</html>